/* Bootstrap Overrides */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
/* Vector 14 */
body {
    background-color: #FFFFFF;
	margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,h2,h3,h4,h5,h6,p,div {
	font-family: "Bebas Neue";
	color: #113946;
}

.hr__custome{
	position: absolute;
	left: 0;
	top: 0;
	height:2rem;
	width: 100%;
	overflow:visible;
	background-color: black;
}
.topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav img {
    max-width: 100%;
    height: auto;
}

.mobile-container {
    max-width: 100%;
    margin: auto;
    color: white;
    border-radius: 10px;
}

.topnav {
    overflow: hidden;
    position: fixed;
	width: 100%;
	top: 0;
	transition: background-color 0.3s ease;
	z-index: 999;
}

#myLinks {
    display: none;
	animation: navOpen 0.4s ease-in;
	background-color: #FFFFFF;
}

#myLinks a {
    text-decoration: none;
    color: #000000;
    font-size: 34px;
	position: relative;
	padding-left: 1rem;
	
}

#myLinks .collapse-items:hover a::before {
    content: '';
    position: absolute;
	bottom: 0;
	text-align: center;
    width: 100%;
    height: 5px;
    background-color: black;
    transform: skewX(30deg);
	animation: underNavAfter 0.2s ease-in;
}
#myLinks .collapse-items:not(:hover) a::before {
    content: '';
    position: absolute;
	bottom: 0;
	text-align: center;
    width: 0%;
    height: 5px;
    background-color: black;
    transform: skewX(30deg);
	animation: underNavBefore 0.2s ease-in;
}

#myLinks a span{
	position: absolute;
}
#myLinks .collapse-items:hover a span{
	content: '';
	left: 0rem;
	height: 0%;
	width:5px;
	background-color: #000000;
	transform: height 0.4s ease;
	transform-origin: bottom;
	animation: lineLeftNavBefore 0.4s ease-out forwards;
}
#myLinks .collapse-items:not(:hover) a span{
	content: '';
	left: 0rem;
	height: 100%;
	width:5px;
	background-color: #000000;
	transform-origin: bottom;
	animation: lineLeftNavAfter 0.4s ease-out forwards;
	
}
.collapse-bar{
	background-color: rgba(255,255,255,0.5)!important;
	backdrop-filter:blur(200px)!important;
}

.top__navbar{
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
}

.top__navbar a{
	font-size: 24px;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
	max-height: 100%;
	max-width: 100%;
	flex-direction: column;
	cursor: pointer;
}
.topnav a.icon div:not(:last-child){
	margin-bottom: 6px;
}
.topnav a.icon div:nth-child(1){
	width: 100px;
	height: 3px;
	
	background-color: #113946;
}

.topnav a.icon div:nth-child(2){
	width: 60px;
	height: 3px;
	
	background-color: #113946;
}
.topnav a:not(.logo__brand):hover {
	
    color: black;
}

.topnav a.icon.open div:nth-child(1){
	animation: openHamburgerSatu 0.4s ease forwards;
	animation-delay: 0.2s;
}
.topnav a.icon.open div:nth-child(2){
	animation: openHamburgerDua 0.4s ease forwards;
}

.btn__box{
	outline: black solid 3px;
}

.btn__cus {
	display: inline-block;
	position: relative;
	color: black;
}

.btn__cus::after{
	content:'';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: black;
	transform-origin: bottom left;
	transition: tranform 0.25s ease-out;
}

.btn__cus:hover::after{
	transform: scaleX(1);
	transform-origin: bottom left;
}

.project{
	position: relative;
	max-width: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	grid: 12;
	opacity: 0;
}

.project__card{
	position: relative;
	width: 1120px;
	height: 1231px;	
	
	background-color: #113946;
	border-radius: 100px;
/*	z-index: -1*/
}

.project__line{
	width: 500px;
	height: 3px;
	
	border: 2.5px solid #ffffff;
}

.project__left{
	top: 12rem;
	left: 2rem;
}

.project__right{
	top: 3.5rem;
}

.project__text{
	
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 43px;
	letter-spacing: 1em;
}

.img__card{
	position: relative;
width: 467px;
height: 333px;
	left: 1em;
}

.top__card{
	height: 115px; 
	background-color: #F6995C;
	border-radius: 50px 50px 0px 0px;
/*	z-index: -1;*/
}

.title-header h3{
	font-family: "Exo 2", sans-serif!important;
}

.btn__float{
	opacity: 0;
	position: absolute;
	width: 141px;
	height: 32px;
	top:80%;
	left:79%;
	background: #198754;
	color: #fff;
	box-shadow: 0px 4px 4px #000000;
	border-radius: 50px;
	filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
	
/*	z-index: 1;*/
}

.img_cus{
	border-radius: 0px 0px 50px 50px;
}

.line_project{
	position: relative;
	width: 5.5rem;
	height: 1.5px;
	top: 2.5rem;
	left: 2rem;
	border: 2.5px solid #ffffff;
}

.img__card .top__card h3{
	position: relative;
	top: 3rem;
	left: 2rem;
	color: #ffffff;
	font-family: "Souliyo Unicode";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 33px;
}

.img__card .top__card h3 span{
	font-size: 16px;
	line-height: 25px;
}

.kontak{
	opacity: 0;
}
.kontak__container .kontak__body div a{
	text-decoration: none;
}

.kontak__container .kontak__body div a h1:hover{
	text-decoration: none;
	color: #257994!important;
}

.kontak__text{
	font-family: "Exo 2", sans-serif;
	margin-left: 2rem;
}

.skill {
	position: relative;
	opacity: 0;
}

.table-skill tr td p{
	font-size: 42px;
	padding-top: 1.5rem;
	padding-left: 1rem;
}

.table-skill tr td:nth-child(1){
	text-align: center!important;
}

.table-skill tr td:nth-child(2):before{
	content: '';
	position: absolute;
	width: 2.2px;
	height: 100%;
	left: 10em;
	top: 0;
	background-color: #000000;
}

.table-skill tr:not(:first-child)::after {
  content: '';
  position: absolute;
  width: 70%;
  left: 2.2rem;
  height: 1.5px;
  background-color: #000000;
}
.skill-row {
	display: flex;
	align-items: center;
}

/*PENGALAMAN KERJA */
.pengalaman {
	opacity: 0;
	margin-top: 2.5rem;
	position: relative;
	max-width: 100%;
	max-height: 100%;
	padding: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}
.pengalaman h2{
	font-size: 42px;
	text-align: center!important;
}
.pengalaman__card{
	position: relative;
/*	width: 1120px;*/
	width: 720px;
	height: 545px;	
	margin-left: auto;
	margin-right: auto;
	background-color: #FB88B4;
	border-radius: 25px;
}

.pengalaman__box{
	position: relative;
/*	width: 375px;*/
	width: 100%;
	height:auto;
	margin-top:1rem;
	outline: 3px solid #FFFFFF;
}
.pengalaman__box h2,
.pengalaman__box p,
.pengalaman__box span{
	color: #FFFFFF;
}

.pengalaman__box p,
.pengalaman__box span{
	font-size: 24px!important;
	font-family: "Exo 2", sans-serif!important
}
.pengalaman__ormawa{
	opacity: 0;
}
.pengalaman__ormawa h2{
	text-align: center!important;
	margin-top: 2.5rem;
}

.pengalaman__ormawa__card{
	position: relative;
/*	width: 1120px;*/
	width: 720px;
	height: auto;	
	margin-left: auto;
	margin-right: auto;
	background-color: #9195F6;
	border-radius: 25px;
}
.kejuaraan{
	position: relative;
	opacity: 0;
}
.kejuaraan h2{
	text-align: center!important;
	margin-top: 2.5rem;
}

.line__kejuaraan{
	position: relative;
	margin-left: 3.7rem;
	margin-right: auto;
	z-index: 0;
}

.btn__box p{
	font-size: 34px;
	margin: 0;
	display: inline-block;
	position: relative;
	color: black;
}

.sertifikat .btn__box:hover{
	content: '';
	background-color: #113946;
	outline: #113946 solid 3px;
}

.sertifikat .btn__box:hover p{
	content: '';
	color:#FFFFFF; 
}
@media only screen and (max-width:1199px){
	.topnav{
		width: 100%;
	}
	.project__card{
		width: 930px;
		height: 128rem;
	}
	
	.project__left{
		top: 2rem;
		left: 12rem;
	}
	
	.project__right{
		top: 5rem;
		left: 12rem;
	}
	
	.project__line{
		align-items: center;
	}
	.kontak__body{
		padding-right: 4rem;
	}
	.line__kejuaraan{
		margin-left: 2.9rem;
		transform: scale(20px);
	}
	.line__kejuaraan svg{
		width: 920px!important;
	}
}

@media only screen and (max-width:991px){
	.topnav{
		width: 100%;
	}
	.project__card{
		width: 690px;
		height: 132rem;
	}
	
	.project__left{
		top: 2rem;
		left: 5rem;
	}
	
	.project__right{
		top: 5rem;
		left: 5rem;
	}
	
	.project__line{
		align-items: center;
	}
	.kontak__body{
		padding-right: 4rem;
		display: flex;
	}
	
	.project__text{
		font-style: normal;
		font-weight: 400;
		font-size: 16px!important;
		line-height: 43px;
		letter-spacing: 0.7em;
		
		padding-left: 2.5rem;
	}
	.collapse-contents{
		margin: 0;
		padding: 0;
	}
	.line__kejuaraan{
		margin-left: 1.8rem;
		transform: scale(20px);
	}
	.line__kejuaraan svg{
		width: 720px!important;
	}
}

@media only screen and (max-width:767px){
	.topnav{
		width: 100%;
	}
	.project__card{
		width: 513px;
		height: 132rem;
	}
	
	.project__left{
		top: 2rem;
		left: 0;
		padding: 0.5rem;
	}
	
	.project__right{
		top: 6rem;
		left: 0;
		padding: 0.5rem;
	}
	
	.project__line{
		width: 250px;
		left: 8rem;
	}
	.kontak__body{
		padding-right: 4rem;
		display: flex;
	}
	
	.project__text{
		font-style: normal;
		font-weight: 400;
		font-size: 16px!important;
		line-height: 43px;
		letter-spacing: 0.7em;
		
		padding-left: 2.5rem;
	}
	.pengalaman__card{
		width: 515px;
		height: 890px;
	}
	
	.pengalaman__ormawa__card{
		width: 515px;
		margin-top: 0!important;
	}
	
	.line__kejuaraan{
		margin-left: 0.9rem;
		transform: scale(20px);
	}
	.line__kejuaraan svg{
		width: 520px!important;
	}
}


@keyframes lineLeftNavBefore{
	0%{
		height: 100%;
	}
	100%{
		height: 0%;
	}
}
@keyframes lineLeftNavAfter{
	0%{
		height: 0%;
	}
	100%{
		height: 100%;
	}
}
@keyframes underNavAfter{
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}
@keyframes underNavBefore{
	0%{
		width: 100%;
	}
	100%{
		width: 0%;
	}
}
@keyframes navOpen{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 100%;
	}
}

@keyframes openHamburgerDua {
	0%{
		transform: translateY(0%) rotate(0);
		width: 60px;
	}
	25%{
		transform: translateY(0%) rotate(0);
		width: 50px;
	}
	50% {
		transform: translateY(0%) rotate(22.5deg);
		width: 50px;
		animation-delay: 1s;
	}
	100%{
		transform: translateY(0%) rotate(45deg);
		width: 50px;
	}
}
@keyframes openHamburgerSatu {
	0%{
		transform: translateY(0%) rotate(0);
		width: 100px;
	}
	25%{
		transform: translateY(0%) rotate(0);
		width: 50px;
	}
	50% {
		transform: translateY(0%) rotate(-22.5deg);
		width: 50px;
	}
	100%{
		transform: translateY(225%) rotate(-45deg);
		width: 50px;
	}
}
@keyframes lineLeftNavBefore{
	0%{
		height: 100%;
	}
	100%{
		height: 0%;
	}
}
@keyframes lineLeftNavAfter{
	0%{
		height: 0%;
	}
	100%{
		height: 100%;
	}
}
@keyframes underNavAfter{
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}
@keyframes underNavBefore{
	0%{
		width: 100%;
	}
	100%{
		width: 0%;
	}
}
@keyframes navOpen{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 100%;
	}
}

@keyframes openHamburgerDua {
	0%{
		transform: translateY(0%) rotate(0);
		width: 60px;
	}
	25%{
		transform: translateY(0%) rotate(0);
		width: 50px;
	}
	50% {
		transform: translateY(0%) rotate(22.5deg);
		width: 50px;
		animation-delay: 1s;
	}
	100%{
		transform: translateY(0%) rotate(45deg);
		width: 50px;
	}
}
@keyframes openHamburgerSatu {
	0%{
		transform: translateY(0%) rotate(0);
		width: 100px;
	}
	25%{
		transform: translateY(0%) rotate(0);
		width: 50px;
	}
	50% {
		transform: translateY(0%) rotate(-22.5deg);
		width: 50px;
	}
	100%{
		transform: translateY(225%) rotate(-45deg);
		width: 50px;
	}
}
@keyframes lineLeftNavBefore{
	0%{
		height: 100%;
	}
	100%{
		height: 0%;
	}
}
@keyframes lineLeftNavAfter{
	0%{
		height: 0%;
	}
	100%{
		height: 100%;
	}
}
@keyframes underNavAfter{
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}
@keyframes underNavBefore{
	0%{
		width: 100%;
	}
	100%{
		width: 0%;
	}
}
@keyframes navOpen{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 100%;
	}
}

@keyframes openHamburgerDua {
	0%{
		transform: translateY(0%) rotate(0);
		width: 60px;
	}
	25%{
		transform: translateY(0%) rotate(0);
		width: 50px;
	}
	50% {
		transform: translateY(0%) rotate(22.5deg);
		width: 50px;
		animation-delay: 1s;
	}
	100%{
		transform: translateY(0%) rotate(45deg);
		width: 50px;
	}
}
@keyframes openHamburgerSatu {
	0%{
		transform: translateY(0%) rotate(0);
		width: 100px;
	}
	25%{
		transform: translateY(0%) rotate(0);
		width: 50px;
	}
	50% {
		transform: translateY(0%) rotate(-22.5deg);
		width: 50px;
	}
	100%{
		transform: translateY(225%) rotate(-45deg);
		width: 50px;
	}
}